<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>

    <add key="Host" value="localhost"/>
    <add key="Port" value="5000"/>

    <add key="URLs" value="pdmtool"/>
    
    <add key="SMTP_SERVER" value="localhost"/>
    <add key="SMTP_PORT" value="2500"/>

    <add key="SendEmail" value="True" />
    <add key="NoReplyEmail" value="noreply@kinesso.com" />
    <add key="CheckerPeopleToNotify" value="toto1@test.com;toto2@test.com" />
    <add key="CheckerErrorSubject" value="CheckerTool: Errors detected"/>
    <add key="CheckerNoErrorSubject" value="CheckerTool: No error detected anymore"/>
    <add key="CheckerReminderSubject" value="CheckerTool: /!\ There are still errors /!\"/>
    <add key="CheckerErrorBody" value="Hello, the last automatic check on the %DATE% at %TIME% detected errors on the following environments:\n%ENVIRONMENTS%.\nPlease check full report at https://checkertool.mbww.net \nRegards."/>
    <add key="CheckerNoErrorBody" value="Hello, all errors have been fixed.\nRegards."/>

    <add key="CheckerFrequency" value="10"/>
    <add key="Overtime" value="100"/>
    <add key="Timeout" value="1"/>

    <add key="AutomaticCheck" value="True"/>
    <add key="EnvironmentsWithoutEmail" value="Test"/>
  </appSettings>

  <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:#{Port}/{R:1}" />
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    
</configuration>