html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.url {
	color: black !important;
}

#errors-table{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: small;
}

.text-center{
	text-align: center;
}


.time-details{
	font-weight: bold;
	text-decoration: underline;
}

.vertical-align-url{
	line-height: 40px;
}

.border{
	border-left: 3px solid rgba(83, 83, 83, 0.5) ;
}

.vertical-align-description{
	line-height: 40px;
}

.row{
	margin-bottom: 3px;
	margin-top: 3px;
}

.navbar{
	background-color: #0cb2a6;
}

.bold{
	font-weight: bold;
}

.Production{
	background-color: rgb(240, 181, 181);
}

.Staging{
	background-color: rgb(184, 208, 245);
}

.QA{
	background-color: rgb(241, 213, 178);
}

.Test{
	background-color: rgb(180, 245, 180);
}

.line{
	background-color: rgba(83, 83, 83, 0.5);
	height: 3px;
	opacity: 0.33;
	margin: 0 0  !important;
}

.col{
	padding: 0 0 !important;
}

#popup{
	color: rgb(218, 34, 255);
	font-size: 1.5em;
	/* color: #0cb2a6; */
}

#popup:hover{
	color: whitesmoke;
}

#m{
	margin-bottom: 0%;
}