<!DOCTYPE html>
<html>

    <head>
            <meta charset="utf-8">
            <title>OrchestrationCISCO</title>

            <!-- Lien vers le CSS -->
            {% load static %}

            <link rel='icon' type='image/png' href='/favicon-32x32.png'>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Tiro+Gurmukhi&family=Roboto&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Assistant|Assistant:600|Assistant:bold" rel="stylesheet">
            <script type="javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>

    <body id="body" onload="getLastErrors()">
        <nav role="navigation" class="navbar">
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo" style="font-family: Assistant, sans-serif;">OrchestrationCISCO</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="index.html">CLI</a></li>
                    <li><a href="manual_check.html">NETCONF</a></li>
                </ul>
            </div>
        </nav>
        <div class="center-align">
            <p>La barre de chargement pourra être réutilisée plus tard</p>
        </div>
        <div id="loader" class="progress">
            <div class="indeterminate"></div>
        </div>
        <div id="content" class="container">
            <div class="center-align">
                <p>Contenu de la page</p>
            </div>
        </div>
    </body>

</html>